.offers {
    display: flex;
    gap: 20px;
  
    &__primary {
      width: 50%;
    }
  
    &__secondary {
      width: 25%;
    }
  }
  
  h2 {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
  }
  