<div class="footer">
  <div class="footer__nav content">
    <div class="footer__content">
      <img src="/assets/images/logo.png" alt="" class="footer__logo" />
    </div>
    <div class="footer__content">
      <div class="footer__navigation">
        <h4 class="footer__title">Destinations</h4>
        <ul class="footer__list">
          <li class="footer__links">
            <a href="#" class="footer__link"> Madrid </a>
          </li>
          <li class="footer__links">
            <a href="#" class="footer__link"> Barcelona </a>
          </li>
          <li class="footer__links">
            <a href="#" class="footer__link"> London </a>
          </li>
          <li class="footer__links">
            <a href="#" class="footer__link"> Paris </a>
          </li>
          <li class="footer__links">
            <a href="#" class="footer__link"> Rome </a>
          </li>
        </ul>
      </div>
      <div class="footer__navigation">
        <h4 class="footer__title">Legal information</h4>
        <ul class="footer__list">
          <li class="footer__links">
            <a href="#" class="footer__link"> Privacy policy </a>
          </li>
          <li class="footer__links">
            <a href="#" class="footer__link"> Cookie policies </a>
          </li>
          <li class="footer__links">
            <a href="#" class="footer__link"> data treatment </a>
          </li>
        </ul>
      </div>
      <div class="footer__navigation">
        <h4 class="footer__title">Book your flight</h4>
        <ul class="footer__list">
          <li class="footer__links">
            <a href="#" class="footer__link"> Search flights </a>
          </li>
          <li class="footer__links">
            <a href="#" class="footer__link"> Price calendar </a>
          </li>
          <li class="footer__links">
            <a href="#" class="footer__link"> Destination map </a>
          </li>
          <li class="footer__links">
            <a href="#" class="footer__link"> Flight times </a>
          </li>
        </ul>
        <div class="footer__social">
          <h4 class="footer__title">Follow us</h4>
          <ul class="footer__list">
            <li class="footer__links">
              <a href="#" class="footer__link">
                <img src="/assets/images/twitter-icon.png" alt="" class="footer__ico"/>
              </a>
            </li>
            <li class="footer__links">
              <a href="#" class="footer__link">
                <img src="/assets/images/facebook-icon.png" alt="" class="footer__ico"/>
              </a>
            </li>
            <li class="footer__links">
              <a href="#" class="footer__link">
                <img
                  src="/assets/images/youtube-icon.png"
                  alt="" class="footer__ico"/>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__nav content">
    <ul class="footer__list">
      <li class="footer__links">
        <a href="#" class="footer__link">
          Website terms of use
        </a>
      </li>
      <li class="footer__separate">|</li>
      <li class="footer__links">
        <a href="#" class="footer__link">
          Site map
        </a>
      </li>
      <li class="footer__separate">|</li>
      <li class="footer__links">
        <a href="#" class="footer__link">
          environment
        </a>
      </li>
      <li class="footer__separate">|</li>
      <li class="footer__links">
        <a href="mailto:contact@arilines.com" class="footer__link">
          contact@arilines.com
        </a>
      </li>
    </ul>
  </div>
</div>
